.root {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 232, 10, 0.1);
}

.div-preview {
    padding: 25px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 500px;
    /*width: 600px;*/
}

.image-preview {
    height: 500px;
    width: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    /*background-color: #ff5640;*/

}
