.root {
    /*text-align: center;*/
    /*height:1000px;*/
    /*background-color: #61dafb;*/
    /*width: 4000px;*/
}

.img {
    /*background-image: ;*/
    /*background-image: url(/src/assets/room1.jpg);*/
    /*background-color: #14ff11;*/
    height: 500px;
    width: 500px;
    /*background-position: center;*/
    background-repeat: no-repeat;
    /*background-size: cover;*/
    float: left;
    background-size: 100% 100%;

    /*padding: 10px;*/
    /*width: 33.33%;*/
}

.maker {
    /*height: 200px;*/
    /*width: 100px;*/
    /*position: relative;*/
}

.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 300px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    background-color: #14ff11;
}

.speed-dial .MuiFab-primary {
    color: #fff;
    background-color: red;
}




