.App {
    /*text-align: center;*/
}


.row {
    /*float: left;*/
}

.div1 {
    height: 500px;
    width: 700px;
    background-color: grey;
    float: right;

}

.div2 {
    height: 500px;
    width: 700px;
    background-color: #ff805f;
    float: right;

}

.div3 {
    height: 500px;
    width: 700px;
    background-color: #14ff11
}

.div4 {
    height: 500px;
    width: 700px;
    background-color: #2b3cff
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
